<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Index</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="~/CSS/Style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/CSS/responsive.css">
</head>
<body>
    <!--header section start -->
    <div class="header_section">
        <div class="container">
            <nav class="navbar navbar-dark bg-dark">
            </nav>
        </div>
        <!--banner section start -->
        <div class="banner_section layout_padding">
            <div id="my_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="taital_main">
                                        <h4 class="banner_taital">Unii Wallet</h4>
                                        <p class="banner_text">The Unii Wallet is an automate the process of managing fees. This system offers efficient solution for fee collection, tracking, and reporting, enabling educational institutions to effectively manage their financial operations. </p>
                                        <div class="read_bt"><a href="~/Home/LoginAd">Admin Login </a></div>
                                        <div class="read_bt"><a href="~/Home/StdLogin">Student Login</a></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    
                                    <div><img src="~/Images/fee.png" class="image_1"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--banner section end -->
    </div>
    <!--header section end -->


</body>
</html>