@model IEnumerable<FeeManagement.Models.AddFees>

@{
    ViewBag.Title = "StdFeeList";
    Layout = "~/Views/Shared/StdLayout.cshtml";
}
<head>

    <title>@Session["studentName"] - Fee Detail's</title>

</head>

<h3 class="text-center" style="font-weight:bolder">@Session["studentName"]  <span style="color:brown">( Fee - Detail's )</span></h3>
<center>
    &nbsp; <button class="btn btn-danger" onclick="tableToExcel()">Download Fee List</button>
</center>
<br />
@{ Html.RenderAction("PartialFeelist", "Home", new { recentpaid = false, id = @Session["studentId"] }); }

<script src="~/Scripts/FeeList.js"></script>
<script>
    function tableToExcel() {
        var table2excel = new Table2Excel();
        table2excel.export(document.querySelectorAll("table#myTable"));
    }
</script>



